<h1>All Spellbooks</h1>
<p>
<%= link_to 'Create New', new_book_path %> 
<%= link_to "Home", root_path %> 
</p>
<table>
  <thead>
    <tr>
      <th>Spell Count</th>
      <th>Name</th>
      <th colspan="1"></th> 
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.spell_count %></td>
         <td><%= link_to book.name, book %></td>
        <td><%= form_with model: book, method: :delete, local: true do |f| %>
            <%= f.submit 'Delete Book' %>
            <% end %>   </td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


