
<h1>View <%= @book.name %></h1>

<p>
<%= link_to 'All Books', books_path %> |
<%= link_to "Home", root_path %>    
</p>


<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Spellname</th>
      <th>School</th>
     <th>Classes</th> 
      <th>Concentration</th>
      <th colspan="1"></th> 
    </tr>
  </thead>

  <tbody>
    <% @book.spells.each do |spell| %>
      <tr>
        <td><%= spell.level %></td>
         <td><%= link_to spell.name, spell %></td>
        <td><%= spell.school %></td>
        <td><%= spell.spellclass_string %></td>       
           <td><%= spell.concentration %></td>
        <td><%= form_with model: spell, url: book_remove_spell_path(@book.id, spell.id), local: true do |f| %>
            <%= f.hidden_field :spell_id, :value => spell.id %>
            <%= f.submit 'Remove Spell' %>
            <% end %>   </td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Add Spell", book_spell_add_path %>  
</p>