
<h1>All Spells</h1>
<p>
<%= link_to 'Create New', new_spell_path %> 
<%= link_to "Home", root_path %> 
</p>
<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Spellname</th>
      <th>School</th>
     <th>Classes</th> 
      <th>Concentration</th>
      <th colspan="2"></th> 
    </tr>
  </thead>

  <tbody>
    <% @spells.each do |spell| %>
      <tr>
        <td><%= spell.level %></td>
         <td><%= link_to spell.name, spell %></td>
        <td><%= spell.school %></td>
        <td><%= spell.spellclass_string %></td>       
           <td><%= spell.concentration %></td>
        <td><%= link_to 'Edit', edit_spell_path(spell) %></td> 
      <td>  <%= link_to "Add to Book", spell_spell_add_path(spell) %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


