<!DOCTYPE html>
<html>
  <head>
    <title>Spellmanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
     <%# Modified from: https://stackoverflow.com/questions/9390778/best-practice-method-of-displaying-flash-messages %>
   
   <% flash.each do |key, value| %>
     <%= content_tag :div, value, id: "#{key}" %>
   <% end %>      
     
   <%= yield %>
  </body>
</html>
